<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.gueei.mario.coinBlock" android:versionCode="14" android:versionName="1.65b">
	<application android:label="@string/app_name" android:name="CoinBlockWidgetApp" android:icon="@drawable/icon" android:debuggable="false">
		<activity android:name=".coinBlockIntroActivity"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<receiver android:name="coinBlockWidgetProvider">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>
			<meta-data android:name="android.appwidget.provider"
				android:resource="@xml/coin_block_widgetprovider" />
		</receiver>
	</application>
	<uses-sdk android:minSdkVersion="4" android:targetSdkVersion="8"/>

</manifest> 